
.figure-box {


    border: 1px solid #ccc;
    padding: 5px;
    margin: 12px 0;
    background-color: #f9f9f9;
    font-size: 80%;
    line-height: normal;
}

.figure-img {
    border: 1px solid #d3d3d3;
    background-color: #ffffff;
    padding: 3px;
}

.figure-title {
    font-weight: bold;
}

table.figure-table {
    background: Beige;
    border: thin solid grey;
    margin: 1em;
    padding: 4px;

    display: table;
    border-collapse: separate;
    border-spacing: 2px;
}

.figure-table tr td:first-child {
    background: #deb887;
    text-align: right;
    vertical-align: top;
    padding-right: 0.4em;
    width: 15%;
    font-weight: bold;
}

.figure-table tr td:last-child {
    display: table-cell;
    vertical-align: inherit;
}

section.figure {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 1.428571429;
}
