
.figure-box {
    border: 1px solid #028490;
    padding: 5px;
    margin: 12px 0;
    font-size: 80%;
    line-height: normal;
}

.figure-img {
    padding: 3px;
}

.figure-title {
    font-weight: bold;
}

table.figure-table {
    border: thin solid grey;
    padding: 4px;
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
}

.figure-table TD {
    padding: 4px 8px;
}

.figure-table tr td:first-child {
    background: #028490;
    color: #E0F5F3;
    text-align: right;
    vertical-align: top;

    width: 15%;
    font-weight: bold;
}

.figure-table tr td:last-child {
    display: table-cell;
    vertical-align: inherit;
}

section.figure {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 1.428571429;
}

.citation-box {
    padding: 16px 0;
}

TABLE.figure-list {
    border: medium solid black;
    margin: 16px 0;
}

TABLE.figure-list TD {
    padding: 8px;
}


TABLE.figure-list TR {
    border-bottom: thin solid grey;
    vertical-align: top;
}
